*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --grid-dims: 1/-1;
}

button.general {
  border: none;
  border-radius: 5px;
}

button.general {
  background-color: #ffffff;
  color: #00006b;
}

body {
  font-family: Akkurat, Arial, sans-serif;
  color: #212529;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 1/-1;
  background-color: #ffffff;
}
header nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header nav ul {
  grid-column: var(--grid-dims);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li img {
  width: 150px;
}
header nav ul li i {
  font-size: 20px;
}

ul.links-1 {
  list-style: none;
}
ul.links-1 li {
  padding: 10px 0px;
  display: flex;
}
ul.links-1 li i {
  align-self: flex-start;
  padding: 5px 0px;
}
ul.links-1 i {
  border: none;
  font-size: 0.8em;
}

.gate-end {
  height: 20px;
  grid-column: 1/-1;
  background-color: #e6f2f5;
}

.collapsible-active {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.gradient {
  background-image: linear-gradient(0deg, #0096ff, #006106);
}

section {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
section button {
  grid-area: 6/4/7/7;
}

section.menu {
  grid-column: 2/-2;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
section.menu.active {
  background-color: #fff5b9;
}

section.landing {
  grid-template-rows: repeat(7, 1fr);
  height: 133vw;
  background-image: url("../assets/triodoshippo_heroImageFullWidthMobile.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.info {
  color: #00006b;
}
section.info aside {
  grid-column: 2/-2;
  padding: 40px 0px;
}

section.links {
  color: #00006b;
  background-color: #e6f2f5;
  padding: 40px 0px;
}
section.links :nth-child(n) {
  grid-column: 2/-2;
}
section.links h4 {
  grid-column: 2/-2;
}
section.links ul {
  list-style: none;
  padding-bottom: 20px;
}
section.links ul a {
  text-decoration: none;
  color: #00006b;
}
section.links ul li {
  padding: 5px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}
section.links ul .fas {
  font-size: 9px;
}
section.links ul .fa-circle {
  margin-left: 1rem;
}

section.collapsible {
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  padding-bottom: 0px;
}
section.collapsible i {
  grid-column: 5/-5;
  text-align: center;
  padding: 10px 0px;
  margin: 0px 15px;
  cursor: pointer;
}
section.collapsible h4 {
  grid-column: 2/-2;
  text-align: center;
}
section.collapsible div.collapsible-text {
  background-color: white;
  grid-column: 1/-1;
  padding: 0px 20px;
  margin: 20px 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.collapsible div.collapsible-text p {
  color: #00006b;
  line-height: 1.3;
}
section.collapsible div.collapsible-text button {
  border: 1px solid gray;
  padding: 15px;
  align-self: flex-start;
}

section.album-sideswipe {
  padding-top: 2rem;
  height: 133vw;
}
section.album-sideswipe h2 {
  grid-column: var(--grid-dims);
  text-align: center;
  color: white;
}
section.album-sideswipe .gradient {
  grid-column: var(--grid-dims);
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: -2;
  margin-top: -2rem;
}
section.album-sideswipe .swipe-arrows {
  position: absolute;
  z-index: 3;
  display: flex;
  grid-column: 1/-1;
  height: 133vw;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}
section.album-sideswipe .swipe-arrows i {
  background-color: rgba(0, 0, 107, 0.15);
  padding: 20px;
}
section.album-sideswipe .swipe-arrows i:nth-child(2) {
  position: absolute;
  position: absolute;
  left: 100vw;
  transform: translateX(-100%);
}
section.album-sideswipe ul {
  grid-column: var(--grid-dims);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  grid-template-columns: unset;
  grid-template-rows: unset;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 30px 0px 0px 20px;
  gap: 20px;
}
section.album-sideswipe ul li {
  list-style: none;
}
section.album-sideswipe ul li img {
  width: 100%;
  border-radius: 15px;
}
section.album-sideswipe ul li .img-textfront {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  top: -60%;
  z-index: 2;
  line-height: 1.4;
  font-weight: 400;
  padding: 10px;
}
section.album-sideswipe ul li .img-textfront h4 {
  font-size: 1.1em;
}

section.footer {
  background-color: #00006b;
  color: white;
  justify-content: space-between;
  gap: 30px;
  padding: 25px 0px;
}
section.footer .select-country {
  grid-column: 2/-2;
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
  background-color: transparent;
  border-radius: 6px;
  font-size: 1.2em;
  padding: 15px 10px;
}
section.footer .select-country:focus {
  background-color: white;
  color: #00006b;
}
section.footer .social-media-follow {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, fit-content(100%));
  gap: 10px;
}
section.footer .social-media-follow p {
  grid-column: 1/-1;
}
section.footer .social-media-follow i {
  grid-column: span 1;
  grid-row: 2/3;
}
section.footer .links-1 {
  grid-column: 2/-2;
}
section.footer .links-1 li {
  display: flex;
  gap: 12px;
  align-items: center;
}
section.footer .links-1 li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

button.general {
  height: 80%;
  align-self: end;
}

/*# sourceMappingURL=custom.css.map */
